<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="preconnecta" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              roboto: ["Roboto", "sans-serif"],
              poppins: ["Poppins", "sans-serif"],
            },
          },
        },
      };
    </script>
  </head>
  <body class="w-full h-full font-roboto">
    <nav
      class="flex justify-between px-20 items-center py-4 border-b ml-auto mr-auto"
    >
      <img
        src="https://www.paypalobjects.com/digitalassets/c/website/logo/full-text/pp_fc_hl.svg"
        alt="paypal logo"
        class="w-28"
      />
      <div class="">
        <ul class="flex gap-8">
          <li
            class="font-bold text-sm text-gray-600 uppercase hover:cursor-pointer justify-center items-center flex"
            onmouseenter="rotateElement(document.querySelector('.rota_a'), 180)"
            onmouseleave="rotateElement(document.querySelector('.rota_a'), 0)"
          >
            personal
            <box-icon
              name="chevron-down"
              color="gray"
              class="rota_a"
            ></box-icon>
          </li>
          <li
            class="font-bold text-sm text-gray-600 uppercase hover:cursor-pointer justify-center items-center flex"
            onmouseenter="rotateElement(document.querySelector('.rota_b'), 180)"
            onmouseleave="rotateElement(document.querySelector('.rota_b'), 0)"
          >
            empresas
            <box-icon
              name="chevron-down"
              color="gray"
              class="rota_b"
            ></box-icon>
          </li>
        </ul>
      </div>

      <div class="">
        <button
          class="bg-white border-solid border border-[#0070BA] text-[#0070BA] rounded-3xl p-2 text-xs font-bold py-3 px-4"
        >
          Iniciar sesión
        </button>
        <button
          class="bg-[#0070BA] text-white rounded-3xl p-2 text-xs font-bold hover:bg-[#005EA6] py-3 px-4"
        >
          Abrir cuenta
        </button>
      </div>
    </nav>
    <div class="flex justify-center items-center h-screen">
      <form
        action="/login"
        method="post"
        class="bg-white rounded-xl px-8 pt-6 pb-8 mb-4 border font-poppins"
      >
        <div class="flex justify-center mb-8">
          <img
            src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-mark-color.svg"
            alt="login logo"
            class="w-8 pb-4"
          />
        </div>
        <div class="mb-4 relative">
          <label
            class="hidden absolute text-xs text-gray-700 font-medium left-3 top-1"
            for="email"
            id="emailLabel"
          >
            Correo electrónico o número de celular
          </label>
          <input
            class="appearance-none border border-solid rounded w-full py-5 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline placeholder-[gray] placeholder:text-base font-medium transition ease-in-out duration-200 hover:border-[navy] border-[#9da3a6]"
            type="email"
            id="email"
            name="email"
            placeholder="Correo electrónico o número de celular"
            required
            onclick="showLabel('emailLabel')"
          />
        </div>
        <div class="mb-6 relative">
          <label
            class="hidden absolute text-xs text-gray-700 font-medium left-3 top-1"
            for="password"
            id="passwordLabel"
          >
            Contraseña
          </label>
          <input
            class="appearance-none border border-solid rounded w-full py-5 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline placeholder-[gray] placeholder:text-base font-medium transition ease-in-out duration-200 hover:border-[navy] border-[#9da3a6]"
            type="password"
            id="password"
            name="password"
            placeholder="Contraseña"
            required
            onclick="showLabel('passwordLabel')"
          />
        </div>
        <div class="flex flex-col">
          <a href="#nowhere" class="font-bold text-[#1072eb] text-lg"
            >¿Has olvidado la contraseña?</a
          >
          <button
            class="mt-3 bg-[#142c8e] text-white rounded-3xl py-3 font-medium transition ease-in-out duration-400 hover:bg-[#1040C1]"
          >
            Iniciar Sesion
          </button>
          <div class="flex flex-row justify-center my-3 items-center gap-2">
            <div class="bg-[#CBD2D6] w-full h-0.5"></div>
            <span class="text-[#6C7378] font-xs">o</span>
            <div class="bg-[#CBD2D6] w-full h-0.5"></div>
          </div>

          <button
            class="rounded-3xl font-medium text-base border border-[#142C8E] py-3 px-[130px] text-[#142C8E] hover:border-1"
          >
            Abrir Cuenta
          </button>
        </div>
      </form>
    </div>
  </body>
</html>

<script>
  function showLabel(labelId) {
    const passwordLabel = document.getElementById("passwordLabel");
    const emailLabel = document.getElementById("emailLabel");
    const passwordInput = document.getElementById("password");
    const emailInput = document.getElementById("email");

    if (document.getElementById(labelId) == emailLabel) {
      emailLabel.classList.remove("hidden");
      emailLabel.classList.add("smootize");
      emailInput.placeholder = "";
      passwordInput.placeholder = "Contraseña";
      if (passwordInput.value == "") passwordLabel.classList.add("hidden");
    } else {
      passwordInput.placeholder = "";
      emailInput.placeholder = "Correo electrónico o número de celular";

      if (emailInput.value == "") emailLabel.classList.add("hidden");
      passwordLabel.classList.remove("hidden");
      passwordLabel.classList.add("smootize");
    }
  }

  document.addEventListener("click", function (event) {
    if (!event.target.matches("input")) {
      const passwordInput = document.getElementById("password");
      const emailInput = document.getElementById("email");
      if (passwordInput.value == "") {
        passwordLabel.classList.add("hidden");
        passwordInput.placeholder = "Contraseña";
      }
      if (emailInput.value == "") {
        emailLabel.classList.add("hidden");
        emailInput.placeholder = "Correo electrónico o número de celular";
      }
    }
  });

  function rotateElement(element, degrees) {
    if (degrees != 0) {
      element.classList.add("rotate-180");
      element.classList.remove("rotate-0");
    } else {
      element.classList.remove("rotate-180");
      element.classList.add("rotate-0");
    }
  }
</script>

<style>
  .rotate-180 {
    transform: rotate(-180deg);
    transition: transform 0.5s ease;
  }

  .rotate-0 {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }

  .smootize {
    animation: appear 0.3s;
    transition: transform 0.5s ease;
  }

  @keyframes appear {
    0% {
      transform: translateX(20px);
      transform: translateY(20px);
      font-size: 1rem;
    }

    100% {
      opacity: 1;
    }
  }
</style>
