<div class="container">
   
   {% for product in products %}
<div class="card">
   <div class="image"><img src='{{product.image.url}}' alt='product image'/></div>
   <div class="name">{{product.name}}</div>
   <div class="price">$ {{product.price}} USD</div>
</div>
   {% endfor %}
</div>

<style>
   .container{
      display: flex;
      flex-direction: row;
      gap: 1rem;
   }

   .image img{
      width:200px;
      height:300px;
      object-fit: cover;
      border-radius: 0.5vmax;
      letter-spacing: 0.5px;
   }

   .name, .price{
      margin-top:1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: underline;
   }

   .price{
      text-decoration: none;
   }

   .card{
      border:solid 1px rgba(0,0,0,0.5);
      padding:2rem;
      border-radius: 1vmax;
   }
</style>