<nav class="bg-black flex items-center justify-between px-6">
    <ul class="text-white justify-center flex w-full py-4 font-bold">
        <li><a href="/" class="hover:bg-white hover:bg-opacity-50 transition duration-200 p-2 rounded-lg">Home 🏠</a></li>
        <li><a href="#products" class="hover:bg-white hover:bg-opacity-50 transition duration-200 p-2 rounded-lg">Discounts 🎫</a></li>
        <li><a href="#offers" class="hover:bg-white hover:bg-opacity-50 transition duration-200 p-2 rounded-lg">Hot Sale 🔥</a></li>
        <li><a href="#cart" class="hover:bg-white hover:bg-opacity-50 transition duration-200 p-2 rounded-lg">Cart 🛒</a></li>
    </ul>
    <a href="/login" class="text-white flex flex-row whitespace-nowrap cursor-pointer font-bold  hover:bg-[whitesmoke] p-2 rounded hover:bg-opacity-50">Authentication 🙍🏻‍♂️</a>
    <a href="#admin" class="text-white flex flex-row whitespace-nowrap cursor-pointer font-bold  hover:bg-[whitesmoke] p-2 rounded hover:bg-opacity-50">Admin 👮🏻‍♂️</a>
</nav>

<script src="https://cdn.tailwindcss.com"></script>
