<!DOCTYPE html>
<html>
  <head>
    <title>Flask Store</title>
  </head>

  <script src="https://cdn.tailwindcss.com"></script>

  <body>
    {% include 'header.html' %}

    <main class="grid grid-cols-4 gap-2" id="products">
      <script>
        let items = [
          {
            name: "Osito Plush",
            price: 5.99,
            img: "https://th.bing.com/th/id/OIP.ewbTc1iasCGj3I45aukv-wHaI9?rs=1&pid=ImgDetMain",
          },
          {
            name: "Pochita Plush",
            price: 5.99,
            img: "https://th.bing.com/th/id/OIP.-ePpdCm_akyqx58cLxkV7QHaHa?rs=1&pid=ImgDetMain",
          },
          {
            name: "Eren Jaeger Plush",
            price: 5.99,
            img: "https://th.bing.com/th/id/OIP.SljYP2AdLLF8udtQpChVUwHaHa?rs=1&pid=ImgDetMain",
          },
        ];

        items.push({
          name: "Pikachu Plush",
          price: 6.99,
          img: "https://m.media-amazon.com/images/I/81SXy7b+C+L._AC_SX466_.jpg",
        });
        items.push({
          name: "Mario Plush",
          price: 7.99,
          img: "https://media.gamestop.com/i/gamestop/10118413/Super-Mario-Bros.-Mario-Plush",
        });
        items.push({
          name: "Sonic Plush",
          price: 8.99,
          img: "https://i5.walmartimages.com/asr/51968e7b-ccea-427f-8c95-3744aec6c8a4_1.7d8ea15fc4752b8b7bf193e64401f20c.jpeg",
        });
        items.push({
          name: "Totoro Plush",
          price: 9.99,
          img: "https://resize.cdn.otakumode.com/ex/2158.2158/shop/product/d78493a8354e42eeb726e2aa1a4618d3.jpg",
        });

        items.push({
          name: "Harry Potter Plush",
          price: 11.99,
          img: "https://th.bing.com/th/id/OIP.rk59JN8abbPM-8A0dfXxjQHaHa?rs=1&pid=ImgDetMain",
        });
        items.push({
          name: "Frodo Baggins Plush",
          price: 12.99,
          img: "https://i5.walmartimages.com/asr/ce01ff4e-ddbe-42db-b7e5-f73128a56f9d_1.33de81573968b7152f564a35d9ade9cd.png?odnWidth=1000&odnHeight=1000&odnBg=ffffff",
        });
        items.push({
          name: "Darth Vader Plush",
          price: 13.99,
          img: "https://i5.walmartimages.com/asr/d13f1a38-2999-449e-97e0-4e5541706db0_1.ed276301d3fc81ff5668d447f952e1c2.jpeg",
        });
        items.push({
          name: "Sherlock Holmes Plush",
          price: 14.99,
          img: "https://cdn.shopify.com/s/files/1/2217/5851/products/s-l1600_af66cd68-580b-485a-95ba-ecdc0b21069c.jpg?v=1614776965",
        });
        items.push({
          name: "Wonder Woman Plush",
          price: 15.99,
          img: "https://th.bing.com/th/id/OIP.1L_jmaMDlAJVc1c_3--aaQHaHk?rs=1&pid=ImgDetMain",
        });

        items.push({
          name: "L4D2 Tank Plush",
          price: 14.43,
          img: "https://th.bing.com/th/id/OIP.VE82EU6pc7hkb9k0Hq8W_AAAAA?rs=1&pid=ImgDetMain",
        });

        items.push({
          name: "L4D2 Hunter Plush",
          price: 17.32,
          img: "https://th.bing.com/th/id/OIP.Sk4pDGUIFpz6l0AG2PIlrAAAAA?w=236&h=236&rs=1&pid=ImgDetMain",
        });

        items.push({
          name: "L4D2 Boomer Plush",
          price: 15.22,
          img: "https://th.bing.com/th/id/OIP.2Qdi3J5Guht798KzYgL3pQHaHk?rs=1&pid=ImgDetMain",
        });

        var add = "";

        for (let obj in items) {
          add += `<div class="border-2 border-gray rounded-lg m-4 flex flex-col justify-between">
            <img src="${items[obj].img}" alt="peluche" class="p-3">
            <div>
                <div class="text-[red] font-bold flex ml-2">
                    ${items[obj].name}
                </div>
                <div class="text-[green] font-bold mb-3 ml-2">
                    $${items[obj].price}
                </div> 
            </div>
        </div>`;
        }

        document.getElementById("products").innerHTML = add;




        fetch("./api/v1/products")
  .then(response => response.json())
  .then(data => {
    var current = document.getElementById("products").innerHTML;

    for(let prod in data.products){
          current += `<div class="border-2 border-gray rounded-lg m-4 flex flex-col justify-between">
            <img src="${data.products[prod].photo}" alt="peluche" class="p-3">
            <div>
                <div class="text-[red] font-bold flex ml-2">
                    ${data.products[prod].name}
                </div>
                <div class="text-[green] font-bold mb-3 ml-2">
                    $${data.products[prod].price}
                </div> 
            </div>
        </div>`;
        }

        document.getElementById("products").innerHTML = current;

  })
  .catch(error => console.error('Error:', error));




      </script>
    </main>

    {% include 'footer.html' %}
  </body>
</html>
